<template name="bubbles">
  <div id="bubble-canvas">
    <div id="bubbleContainer"></div>

    <div id="help-tooltip">
      <span class="bubble-glypicon glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    </div>
    <div id="buttons">
      <span id="share" class="bubble-glypicon glyphicon glyphicon-share" aria-hidden="true"></span>
      <span id="edit" class="bubble-glypicon glyphicon glyphicon-cog" aria-hidden="true"></span>
      <span id="export" class="bubble-glypicon glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
    </div>
  </div>
</template>
