<template name="bubbles">
  <div id="bubble-canvas">
    <div id="bubbleContainer"></div>

    <div id="help-tooltip">
      <span class="help-icon glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      <span id="undo" class="undo-redo glyphicon glyphicon-backward disabled" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Undo"></span>
      <span id="redo" class="undo-redo glyphicon glyphicon-forward disabled" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Redo"></span>
    </div>
    <div id="buttons">
      <div id="share" class="action-icon">
        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
        Share
      </div>
      <div id="edit" class="action-icon">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        Edit
      </div>
      <div id="export" class="action-icon">
        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
        Export
      </div>
    </div>
  </div>
</template>
