<template name="grouper">
  {{> navbar}}
  {{#if currentUser}}
    {{> filters}}
    {{> editPanel}}
  {{else}}
    {{> welcome}}
  {{/if}}
  <div id="modals"></div>
</template>

<template name="welcome">
  <h1>Welcome to Grouper</h1>
  <p>Please create an account!</p>
</template>

<template name="newUser">
  <div id="newUser"></div>
  <div id="newUserStart">
    <div>Welcome to <span class="logoName">Grouper.</span></div>
    <div class="welcomeMessage">We can see that you have not started grouping any classes yet. Please <strong>click</strong> the button <strong>below</strong> to get started.</div>
    <button type="button" class="btn btn-sm" id="new_user_import_button">Import a Class</button>
  </div>
</template>

<template name="loginContainer">
  <div id="loginContainer">
    <img id="fishImg" src="assets/img/fish.png" height="35" width="58">
    <div id="loginWrapper">
      <span id="login_logo">Grouper.</span>
      <div id="login_tagline">A simple solution to your group making needs.</div>
      <div id="login_error_message"></div>
      <input id="login_email" type="text" placeholder="Email"><br>
      <input id="login_password" type="password" placeholder="Password"><br>
      <button class="login" id="login_signup_button" type="button" >Login</button>
      <a id="login_signup_toggle">Or Sign Up</a>
    </div>
  </div>
</template>
