@font-face {
    font-family: 'Lato';
    src: url(../vendor/fonts/Lato/Lato-Hairline.ttf);
    weight: 100;
}

@font-face {
    font-family: 'Lato';
    src: url(../vendor/fonts/Lato/Lato-Light.ttf);
    weight: 300;
}

body {

    font-family: 'Lato';

    #dropzone {
        width: 100%;
        height: 300px;
        border: 1px solid orange;
    }

    #navbar {
        width: 100%;
        height: 50px;
        background: #2D3539 url("../img/logo.png") no-repeat 10px center;
        padding: 10px 75px;
        color: white;
        font-size: 30px;
        line-height: 30px;
        font-weight: 100;
    }

}

.dragover {
    background-color: #ccc;
}