<template name="firstStep">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="import-modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Step 1:</strong> <i>Import Data</i>
  </div>

  <div class="modal-body">
    <div>Name Your Class: <input type="text" id="groupName" value="{{name}}"></div>

    <div id="dropzone">
      <div>Drag a CSV file here</div>
      <p><i>or if you prefer...</i></p>
      <input type="file" id="file_select" name="fileselect" size="40">
      {{#if filename}}
        <div>
          <strong>{{filename.name}}</strong> ({{filename.type}}) - {{filename.size}}, last modified: {{filename.modified}}
        </div>
      {{/if}}
    </div>
  </div>

  <ol class="progtrckr" data-progtrckr-steps="4">
    <li class="progtrckr-done">Import Data</li><li class="progtrckr-todo">Edit Data</li><li class="progtrckr-todo">Prioritize Data</li><li class="progtrckr-todo">Groupify</li>
  </ol>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" id="import-close">Close</button>
    {{#if filename}}
      <button type="button" class="btn btn-info" id="import-next">Next</button>
    {{else}}
      <button type="button" class="btn btn-info inactive" id="import-next">Next</button>
    {{/if}}
  </div>

</template>