<template name="thirdStep">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><strong>Step 3:</strong> <i>Prioritize Data Categories</i></div>
        </div>

        <div class="modal-body">
          <strong>Drag</strong> your data categories in order of diversity importance:<br><br>
          <div><u>More diverse</u></div>
          <ul id="prioritizeCategories">
            {{#each priorities}}
              <li class='category' value='{{this.key}}'>
                {{this.value}}
              </li>
            {{/each}}
          </ul>
          <div><u>Less diverse</u></div>
        </div>

        <ol class="progtrckr" data-progtrckr-steps="4">
          <li class="progtrckr-done">Import Data</li><li class="progtrckr-done">Edit Data</li><li class="progtrckr-done">Prioritize Data</li><li class="progtrckr-todo">Groupify</li>
        </ol>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="import-back">Back</button>
          <button type="button" class="btn btn-info" id="import-next">Next</button>
        </div>

</template>