<template name="filters">
    <div id="filterContainer">
      <div class="filterTypeTitle">
        Data Labels:
      </div>
      <div class="filterTypeContent">
        Course Number  
        <div class="switch">
          <input id="cmn-toggle-6" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
          <label for="cmn-toggle-6"></label>
        </div> 
        Name
      </div>

      <div class="filterTypeTitle">
        Data Filters:
      </div>
      <ul id="filters"></ul>
    </div>
</template>