<template name="filters">
    <div id="filterContainer">
      <div class="filterTypeTitle">
        Labels:
        <select name="labels" id="labels">
          {{#each filters}}
            <option value="{{this.label}}" selected="{{this.label_selected}}">{{this.label}}</option>
          {{/each}}
        </select>
      </div>

      <div class="filterTypeTitle">
        Color Filters:
      </div>
      <ul id="filters">
        {{#each filters}}
          <li>
            <input id="{{this.label}}_filter" class="filter_cat" type="radio" name="filters" value="{{this.index}}_{{this.label}}" checked="{{this.color_selected}}">
            <label class="filter_cat_label" for="{{this.label}}_filter">
                {{this.label}}
            </label><br>
            {{#if this.selected}}
              {{this.color_map}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
</template>