html,body {
    height:100%;
    padding:0;
    margin:0;
    font-family: Lato;
    font-weight: 300;
    color: black;
}

ul {
    list-style-type: none;
    padding-left: 18px;
}

input[type='radio'] {
    margin-right: 5px;
}

.selected {
    box-shadow: 0 0 3px 2px #888888;
    z-index: 100;
    height: 60px !important;
    width: 60px !important;
    border-radius: 30px !important;
    line-height: 60px !important;
}

.switch {
    display: inline-block;
}

.switch > label {
    margin-bottom: 0px !important;
}

label {
    font-weight: 300;
    cursor: pointer;
}

div > .switch {
    vertical-align: middle;
}

#canvas {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 1px solid pink;
    pointer-events: none;
}

#bubbleContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: calc(100% - 128px);
    width: calc(100% - 308px);
    overflow: hidden;
    border: 1px solid #ccc;
}

#navbar {
    font-size: 30px;
    width: 100%;
    padding: 5px 15px;
    line-height: 40px;
    font-weight: 300;
    color: #009688;
    border-bottom: 1px solid #ccc;
}

#logoImg {
    top: -3px;
    position: relative;
}

#fishImg {
    top: 3px;
    position: relative;
    float: right;
}

#filterContainer {
    height: calc(100% - 128px);
    width: 250px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 0px 20px;
}

.filterType {
    padding: 20px;
    line-height: 18px;
}

.filterTypeTitle {
    font-size: 18px;
    /*text-decoration: underline;*/
    margin-top: 20px;
    font-weight: 400;
}

.bubble {
    opacity: .9; 
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.bubble_text {
    position: relative;
    margin-left: -20%;
    margin-right: -20%;
    text-align: center;
}
#groupsContainer {
    height: calc(100% - 128px);
    width: calc(100% - 40px);
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

#groups{
    font-size: 20px;
    padding-left: 20px;
}

#importButton {
    position: absolute;
    left: 195px;
    top: 150px;
}
#groupifySelections {
    position: relative;
    left: 20px;
}

#sortable li { 
    font-size: 1.2em; 
    background-color: #F8F8F8;
    width: 60%;
}
.glyphicon-sort {
    width: 10%;
}
#fileDrag
{
    border:2px dotted #0B85A1;
    width: 100%;
    height:200px;
    color:#92AAB0;
    vertical-align:middle;
    padding:10px 10px 10 10px;
    margin-bottom:10px;
    font-size:150%;
    text-align: center;
    line-height: 200px;
}
#studentData {
    text-align: center;
}
ol.progtrckr{
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
ol.progtrckr li{
  display: inline-block;
  text-align: center;
  line-height: 2em;
  width: 25%;
}
ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 3px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
  color: silver; 
  border-bottom: 3px solid silver;
}
ol.progtrckr li:after {
  content: "\00a0\00a0";
}
ol.progtrckr li:before {
  position: relative;
  bottom: -1.7em;
  float: left;
  left: 50%;
  line-height: .5em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1em;
    width: 1em;
    line-height: 1em;
    border: none;
    border-radius: 1em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1em;
    bottom: -1.8em;
}