{{> nav}}

<div id="dropzone">
    <p>Drop your csv file here :)</p>
    <div id="fileInfo"></div>
</div>
<div id="fileContent"></div>

<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

{{> import_modal}}