.edit-col-container {
  display: -webkit-flex;
  display: flex;
}

.edit-col {
  -webkit-flex: 1;
          flex: 1;
}

.edit-col-title {
    text-align: center;
    text-decoration: underline;
}

#edit_data_current_categories, #edit_data_current_categories_deleted,
#prioritizeCategories,
#edit_data_categories, #edit_data_categories_deleted {
    margin: 0;
    padding: 0 10px 0 0;

    li {
        margin: 3px 0px 3px 10px;
        padding-left: 10px;
        background-color: #F4F4F5;
        line-height: 26px;
        vertical-align: middle;
    }
}

#deleteGroupModal .modal-dialog {
    width: 425px;
}

#deleteGroupModal .modal-footer {
    text-align: center;
}

.danger-paragraph {
    margin-top: 10px;
}

#delete_group {
    float: left;
}

#confirm-class {
    padding: 0px 10px;
    font-size: inherit;
    color: inherit;
    box-sizing: border-box;
}

.danger-alert {
    margin: -15px -15px 0px;
    padding: 10px 15px;
    color: #796620;
    background-color: #f8eec7;
    border: 1px solid #f2e09a;
}

.modal-dialog.modal-sm {
    margin-top: 60px;
}

.glyphicon-remove, .glyphicon-trash, .add.glyphicon-plus, .glyphicon-pencil {
    margin: 7px;
    font-size: 12px;
    color: #5F6364;
}

.glyphicon-pencil {
    margin-left: 0px;
}

#prioritizeCategories li:hover,
#edit_data_current_categories li:hover {
    cursor: move;
    background-color: #dcdcdc;
    transition: .25s;
}

label {
    font-weight: normal;
    margin-bottom: 0px;
    cursor: pointer;
}

.sizesEdit {
    width: 50px;
    text-align: center;
}

.numInc {
    font-size: 12px;
    cursor: pointer;
    margin-left: 3px;
    color: #444;
    line-height: 26px;
}

.sizesLabel {
    margin-bottom: 3px;
    text-decoration: underline;
}

.sizesChoose {
    display: inline-block;
    text-align: left;
}

.glyphicon-plus.numInc:hover {
    color: #00BCD4;
}

.glyphicon-minus.numInc:hover {
    color: #FF9800;
}

.sizesInput {
    text-align: center;
}

.table {
    margin-bottom: 0px;
}

.exportFileType {
    text-align: center;
    margin-top: 10px;
}

a.export.btn {
    text-decoration: none;
}

#groupPreview {
    padding: 15px;
    max-height: 300px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: scroll;
}

.exportLabel {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

.hullTitle {
    text-align: center;
    margin-bottom: 10px;

    i {
        font-size: .85em;
    }
}