<template name="editModal">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Groupify Settings</h4>
          </div>
          
          <div class="modal-body">
            <b>Edit Name:</b><input type="text" id="editGroupName" value="{{data.name}}">

            <b>Edit Labels:</b>
            <div class="edit-col-container">
              <div class="edit-col">
                <div class="edit-col-title">Active</div>
                <ul id="edit_data_current_categories">
                    {{#each data.active}}
                        <li class='category' value="{{this.data}}">
                            {{#if this.edit}}
                                <span class='cancelItem'>
                                    <span class='glyphicon glyphicon-remove'></span>
                                </span>
                                <span class='okItem'>
                                   <span class='glyphicon glyphicon-ok'></span>
                                </span>
                                <input class="editText" type="text" value='{{this.label}}' autofocus>
                            {{else}}
                                <span class='clearItem'>
                                    <span class='glyphicon glyphicon-trash'></span>
                                </span>
                                <span class='editItem' index='{{this.index}}'>
                                    <span class='glyphicon glyphicon-pencil'></span>
                                </span>
                                {{this.label}}
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
              </div>
              <div class="edit-col">
                <div class="edit-col-title">Inactive</div>
                <ul id="edit_data_current_categories_deleted">
                    {{#each data.deleted}}
                        <li class='category' value="{{this.data}}">
                            <span class='addItem'>
                                <span class='glyphicon glyphicon-plus add'></span>
                            </span>
                            {{this.label}}
                        </li>
                    {{/each}}
                </ul>
              </div>
            </div>

            <b>Edit Group Sizing:</b><span class="edit_error_message"></span>
            <div class="edit-col-container sizesInput">
                <div class="edit-col">
                    <div class="sizesLabel">Group By</div>
                    <div class="sizesChoose">
                        <input type="radio" id="people" name="max" class="sizesSelect" value="people" checked="{{data.sizes.people_selected}}"><label for="people">People per Group</label>
                        <br>
                        <input type="radio" id="groups" name="max" class="sizesSelect" value="groups" checked="{{data.sizes.groups_selected}}"><label for="groups">No. Groups</label>
                    </div>
                </div>
                <div class="edit-col">
                    {{#if data.sizes.people_selected}}
                        <div class="sizesLabel">Max Number of People per Group</div>
                        <input type="number" min="1" class="sizesEdit" value="{{data.sizes.people}}">
                    {{else}}
                        <div class="sizesLabel">Max Number of Groups</div>
                        <input type="number" min="1" class="sizesEdit" value="{{data.sizes.groups}}">
                    {{/if}}
                    <span class="glyphicon glyphicon-plus numInc" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-minus numInc" aria-hidden="true"></span>
                </div>
            </div>
          </div>

          <div class="modal-footer">
            <button id="delete_group" type="button" class="btn btn-danger">Delete Group</button>
            <button id="reGroupify" type="button" class="btn btn-info" data-dismiss="modal">Re-Groupify</button>
          </div>
        </div>
      </div>
    </div>
</template>